* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f8f8f8; */
  font-family: "Poppins", sans-serif;
}

.Container {
  @apply max-w-screen-xl mx-auto py-0 px-1 lg:px-0;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}
.bg-book-content-box {
  background-image: url("./assets/images/book-car/book-bg.png");
}
.choose-section {
  background-image: url("./assets/images/chooseUs/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -35px 100px;
}

@media (min-width: 1024px) {
  .choose-section {
    background-position: -225px 255px;
    background-size: cover;
  }
}
.bg-faq-section {
  background-image: url("./assets/images/faq/car.png");
}
.bg-download-banner {
  background-image: url("./assets/images/download/download-banner.png");
}
@media (max-width: 768px) {
  .bg-download-banner {
    background-image: none;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.2588235294);
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  right: 43%;
}
.loader-small {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2588235294);
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.ribbon {
  position: absolute;
  right: -2px;
  top: -6px;
  z-index: 1;
  overflow: hidden;
  width: 140px;
  height: 120px;
  text-align: right;
}
.ribbon span {
  font-size: medium;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
  line-height: 26px;
  transform: rotate(40deg);
  width: 120px;
  height: 26px;
  display: block;
  background: rgb(249 115 22);
  background: linear-gradient(rgb(249 115 22) 0%, rgb(194 65 12) 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 17px; 
  right: -24px;
  z-index: 2;
}

.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid rgb(194 65 12);
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid rgb(194 65 12);
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid rgb(194 65 12);
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid rgb(194 65 12);
}