* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.Container {
  @apply max-w-screen-xl mx-auto py-0 px-1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}
.bg-book-content-box {
  background-image: url("./assets/images/book-car/book-bg.png");
}
.choose-section {
  background-image: url("./assets/images/chooseUs/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -35px 100px;
}

@media (min-width: 1024px) {
  .choose-section {
    background-position: -225px 255px;
    background-size: cover;
  }
}
.bg-faq-section {
  background-image: url("./assets/images/faq/car.png");
}
.bg-download-banner {
  background-image: url("./assets/images/download/download-banner.png");
}
@media (max-width: 768px) {
  .bg-download-banner {
    background-image: none;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.2588235294);
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  right: 43%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
